.app-title {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@media (min-width: 900px) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}

